<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/css/error_master.css">
</head>
<body>
<nav>
    <ul>
        <li class="navLinks"><a href="home">Home</a></li>
        <li class="navLinks"><a href="register">Register</a></li>
        <li class="navLinks"> <a href="h2">Console</a></li>
    </ul>
</nav>
<br><br><br><br>

<main>
    <h1>404 Page Not Found</h1>
    <br>
    <h4>The page you requested does not exist</h4>
</main>
</body>
</html>